---
layout: default
title: hutusi
---

<div id="home">
  <h1>Techniques</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == "tech" %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Essays</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == "essay" %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
