<!-- https://giscus.app/ -->
<script async src="https://giscus.app/client.js"
	data-repo="{{ site.giscus.repo }}"
	data-repo-id="{{ site.giscus.repo_id }}"
	data-category="{{ site.giscus.category }}"
	data-category-id="{{ site.giscus.category_id }}"
	data-mapping="{{ site.giscus.mapping }}"
	data-reactions-enabled="1"
	data-emit-metadata="0"
	data-input-position="{{ site.giscus.input_position }}"
	data-theme="{{ site.giscus.theme }}"
	data-lang="{{ site.giscus.lang }}"
	crossorigin="anonymous"
	async>
</script>