.commentation {
	padding-top: 2rem;
	margin-top: 1rem;
	position: relative;
	text-align: center;

	.active, .btn:hover {
		background-color: #666;
		color: white;
	}
}

.extra-info {
	margin-top: 30px;

	figure {
	  display: block;
	  margin: auto;
	  
	  img {
		display: block;
		margin: auto;
		text-align: center;
	  }
	  
	  figcaption {
		text-align: center;
		font-size: 14px;
	  }
	}
}