---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

// Use partials from `sass_dir` (defaults to `_sass`)
@use "syntax";
@use "starsnonscss";
@use "commentation";

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}
