
// Use partials from `sass_dir` (defaults to `_sass`)
@use "syntax";
@use "starsnonscss";
@use "commentation";
@use "archive";

// same dir
@use "screen";

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

/* home */
.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-title h2 {
  margin: 0;
}
.section-title a.small {
  font-size: 0.85rem;
  margin-left: 1rem;
  text-decoration: none;
}
