<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body>

  {% include analytics.html %}

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <link rel="stylesheet" href="{{ '/css/gitalk.css' | prepend: site.baseurl }}">
  <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/gitalk.min.js' | prepend: site.baseurl }}">       </script>

  <script>
    const gitalk = new Gitalk({
      clientID: '3ecf7aac87e37cbe772c',
      clientSecret: '887d16569177e1f6336cce32e9c58974c2932807',
      repo: 'hutusi.github.com',
      owner: 'hutusi',
      admin: ['hutusi'],
      id: location.pathname,      // Ensure uniqueness and length less than 50
      distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
  </script>
</body>

</html>